input.ng-touched.ng-invalid {
  border: 1px solid red;
}

form {
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  margin: 6rem auto;
  width: 70%;
  padding: 4rem;
  background-color: #d9f3fa8c;
}


h1 {
  margin-top: 4rem;
  text-align: center;
  margin-bottom: 4rem;
}