h1 {
  top: 0;
  left: 0;
  margin-top: 0;
  padding: 5rem;
  text-align: center;
  margin-bottom: 8rem;
  background-image: linear-gradient(to bottom, #6190E8, #A7BFE8);
}

#app-product {
  width: 70%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  gap: 3rem;
}

#add-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}